
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body{
    margin:0;
    font-family: Arial,"cwTeXYen", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}

.container1{
    position: relative;
    max-width:1200px;
    
    margin-left:auto;
    margin-right:auto;
    
    
    
}

.bg_cover1{
    background-image: url("../img/lemon_4.jpg");
    
    background-size: cover;
    width:100%;
    height:100vh;
    

}

.cover1 .logo .logo_1 img{
    height:168px;
    width:168px;
    
    margin-left:15px;
    margin-top:50px;;

}

.logo_2{
    font-size: 100px;
    
    margin-left:15px;
    margin-top:1%;
    letter-spacing: 15px;
}

.com{
    font-size: 110px;
    letter-spacing: 32px;
    line-height: 50px;
}

.J1{
    margin-left:2%;
   
    
    color: #FFB101;
}
.U1{
    
    
    color: #F82800;
}

.I1{
    
    
    color: #DB322E;
}

.C1{
   
    
    color: #E17396;
}

.E1{
    
    
    color: #557013;
    }

.menu1{
    position: absolute;
    top:50px;
    right:0;
    
    
}    

.menu1 ul{padding:0;margin:0;}

.menu1 ul li{
display: inline-block;
left:730px;
top:0px;
border: 2px solid black;
margin:5px;
font-size: 19px;


}

.about_us1{
    background-image: url(../img/bg_v4.jpg);
    background-size: cover;
    width: 100%;
    height:872px;
    
}





.about_us1 .title{
     color:#F2A705;
     /* text-shadow: 0px 0px 20px 20px #020216; */
     font-size: 110px;
     min-width:40%;
     text-shadow: 2px 2px 5px  #250f02, -2px -2px 5px  #250f02;
     letter-spacing: 10px;

}



.about_us1 .intro{
     background-color: #11110C;
     /* color: rgb(238, 225, 213); */
     width: 40%;
     height: 493px;
     float: left;
     
     
     box-sizing: border-box;
     overflow-y: auto;
     
}



.about_us1 .intro_pic{
    
    width: 50%;
    height: 493px;
    float: right;
    
    
    
    

}

.about_us1 .intro_pic img{
    width: 100%;
    height: 100%;
    
    

}

.title_box{
    background-color: #03050A;
    width: 100%;
    height: 234px;
    position: relative;
}

.title_box .crown_l{
    
    height:100px;
    width: 20%;
    margin-top:50px;
    
    float:left;
    /* padding-right:50px; */
    /* box-sizing: border-box; */
}

.title_box .crown_r{
    
    height:100px;
    width: 20%;
    margin-top:50px;
    
    float:left;
    /* padding-left:50px; */
    /* box-sizing: border-box; */
}

.title_box_2{
    
    
   
    
    
    width: 30%;
    /* box-sizing: border-box; */
    float: left;
}


.title_box p{
    
    text-align: center;
    padding: 0;
    margin: 0;
    /* color: rgb(255, 255, 255); */
    font-size:40px;
    padding-top:50px;
    /* box-sizing: border-box; */
    
}

.color_news{
  color:#EE1C5B;
}

.color_material{
    color:#ACCDD8;
  }
  .color_hotprod{
    color:#F2C54A;
  }
  .color_prods{
    color:#E77723;
  }
  .color_addr{
    color:#F1EA06;
  }
  .color_contact{
    color:#E4A3A7;
  }


.center{
    margin-left:25%;
    
    
    
}


.bg_news1{
    background-color: #211E19;
    width: 100%;
    height: 800px;
    
}

.onethree{
    width:100%;
    padding-top:30px;
        
}

.news-card{
    float:left;
    width:33.333%;
    padding:0 15px;
    
    box-sizing: border-box;
}

.news-text{
    width: 100%;
    color: #EFEEE1;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow-y: auto;
}

.news-img img{
    width: 100%;
    height:300px;
    
    
    
    display: block;
}


.bg_material{
    background-image: url(../img/bg_v2_v2.jpg);
    background-size: cover;
    width:100%;
    height: 100%;
    
}


.blanktop{
    height:100px;
    width: 100%;
    opacity: 0;
}

.blanktop2{
    height:50px;
    width: 100%;
    opacity: 0;
}

.blanktop3{
    height:20px;
    width: 100%;
    opacity: 0;
}

.blanktop4{
    height:10px;
    width: 100%;
    opacity: 0;
}

.water, .honey, .sugar, .gold{
    height:280px;
    width:100%
}

.bgc_water, .bgc_honey, .bgc_sugar, .bgc_gold{
    
    width:62%;
    float: left;
    height:100%;
    overflow-y: auto;
    

}

.bgc_water{
    background-color: #181A21;
}

.bgc_honey{
    background-color: #261D08;
}

.bgc_sugar{
    background-color: #231C1D;
}

.bgc_gold{
    background-color: #28210A;
}

.waterpic, .honeypic, .sugarpic, .goldpic{
    width: 38%;
    float: left;
    height:100%;
    
}


/* 貴氣逼人 */
.bg_hotprod{
    background-image: url(../img/bg_4_v3.jpg);
    width: 100%;
    background-size: cover;
    
}

.lemon, .cane, .orange{
    width: 100%;
    height:280px;
    
}

.lemon, .cane{
    
    margin-bottom: 100px;
}

.bg_lemon, .bg_cane ,.bg_orange{
    width:62%;
    height:100%;
    float: left;
    overflow-y: auto;
}

.bg_lemon{
    background-color: #181E10;
}

.bg_cane {
    background-color: #1E1B0D;
}

 .bg_orange{
    background-color: #1E140C;
}


.lemonpic, .canepic ,.orangepic{
    width:38%;
    height:100%;
    float: left;
}


/* 豪門貴族 */
.products{
    background-image: url(../img/bg_v1_v3.jpg);
    width: 100%;;
    background-size: cover;
    height: 1020px;
}

.hot_prod_row{
    width: 100%;
}

.card_prods{
    width: 25%;
    height:300px;
    float: left;
    padding:20px;
    box-sizing: border-box;
    

}

.prods_img{
    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

.prods_img img{
    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;

}


.salebox{
    background-color: #111411;
    width: 100%;
    
    color:#E2F2DF;
    font-size: 24px;
    text-align: center;
    padding: 3px;
    box-sizing: border-box;
    
    
    
}







.more_prod{
    width:100px;
    background-color: #111411;
    border-radius: 5px;
    margin:auto;
    
}

.more_prod p{
    color:#DAE9ED;
    text-align: center;
    padding: 10px;
}

.note_prod{
    
    margin-top:-12px ;
    text-align: center;
    
}

.note_prod p{
    
    color:#F2DFCC;
    
}

/* 金窩銀窩 */

.map_box{
    width: 100%;
    height: 330px;
}

.map, .housepic{
    
    /* background-color: red; */
    width:40%;
    height:100%;
    float:left;
}

.housepic{
    float:right;
}

.housepic img{
    width:100%;
    height:100%;
    
}


.address1{
    background-image: url(../img/pattern_4a_v1.jpg);
    background-size: cover;
    width: 100%;
    height:950px;
}

.intro_address{
    width:100%;
    height:280px;
    padding:15px;
    box-sizing: border-box;
    background-color: #1E1D11;

}

.intro_address p{
    color: #EADDCE;
    padding:0px 20px;
}

.intro_address p.intro_addr_p{
    color: #FAA400;
    padding:0px 20px;
}

#map_v2{
    width:100%;
    height:100%;
}

.bg_contact{
   background-image: url(../img/bg_orange_v2.jpg);
   width:100%;
   height:300px;
   background-size:cover;
   
}

.bg_contact p{
    /* padding: 0; */
    margin:0;
    color:#FF8E18;
    font-size:20px;
    margin-top:10px;
    
}

.bg_contact p span{
    color:#EFE8DC;
    font-size:20px;
    padding-left:40px;
    

}

.bg_contact p span.fix{
    
    padding-left: 20px;
    

}

.bg_material p, .bg_hotprod p {
    color:#EFEEE1;
    padding:0 30px;
    letter-spacing: 10px;
    line-height: 25px;
    
    
} 

.about_us1 .intro p {
    color:#EFEEE1;
    padding:10px 30px;
    letter-spacing: 10px;
    line-height: 30px;
} 



    
  /* mediaquery  */

/*hambergur button*/
.line1, .line2, .line3{
    width:60px;
    height: 12px;
    background-color: #DD551F;
    margin-bottom:10px;
    border-radius: 10px;
    
}
.line1{
    margin-top: 2px;
}

.ham{
    
    margin-left:0px;
    width:60px;
    height:60px;
    padding:10px;
    background-color: #040621;
    border-radius: 10px;
}

#menu .menu_list{
    
     height:0;
    /* transition: all 1s ease-out;  */
    opacity: 0;
    

}

#menu .menu_list.active{
    height:200px; 
    opacity: 1;
    position: absolute;
    width: 100%;
    background-color: gray;
    /* animation: mm 2s 1; */
    /* background-color: rgb(233, 227, 227); */
}

#menu{
    display: none;
}


.news-text img{
    display: none;
}

.water_phone{
    display: none;
}

@media screen and (max-width: 480px) {
    #menu{
        display: block;
        position: fixed;
        z-index: 9999;
    }

    .menu1{
        display: none;
    }


    .cover1 .logo .logo_1 img{
        height:75px;
        width:75px;
        
        margin-left:25%;
        margin-top:80px;
    
    }

    .logo_2{
        font-size: 25px;
        
        margin-left:25%;
        margin-top:1%;
        letter-spacing: 15px;
    }
    
    .com{
        font-size: 25px;
        letter-spacing: 30px;
        line-height: 50px;
    }
    
    .J1{
        margin-left:25%;
        }
    
    .about_us1 .blanktop{
         height:15px;
        }

    .about_us1 .title{
            color:#F2A705;
            /* text-shadow: 0px 0px 20px 20px #020216; */
            font-size: 25px;
            min-width:40%;
            text-shadow: 2px 2px 5px  #250f02, -2px -2px 5px  #250f02;
            letter-spacing: 10px;
            margin-bottom: 15px;
            margin-left: 2%;
            
       
       }

.about_us1 .intro{
    float: none;
    width:92%;
    margin-left: 4%;
    /* height:480px; */
}

.about_us1 .intro_pic{
    float: none;
    width:90%;
    height: 300px;
    margin-left: 5%;
}

.title_box{
    background-color: #03050A;
    width: 100%;
    height: 100px;
    position: relative;
}

.title_box .crown_l{
    
    height:50px;
    width: 20%;
    margin-top:20px;
    
    float:left;
    /* padding-right:50px; */
    /* box-sizing: border-box; */
}

.title_box .crown_r{
    
    height:50px;
    width: 20%;
    margin-top:20px;
    
    float:left;
    /* padding-left:50px; */
    /* box-sizing: border-box; */
}

.title_box_2{
    
    
   
    
    
    width: 40%;
    /* box-sizing: border-box; */
    float: left;
}


.title_box p{
    
    text-align: center;
    padding: 0;
    margin: 0;
    /* color: rgb(255, 255, 255); */
    font-size:20px;
    padding-top:25px;
    /* box-sizing: border-box; */
    
}

.center{
    margin-left:15%;
  }

  .news-card{
    float: none;;
    width:100%;
    padding:0;
    
    box-sizing: none;
}

.onethree{
    width:100%;
    padding-top:0px;
        
}

.bg_news1{
    height:auto;
}

.news-img img{
    display: none;
}

.news-card .news-text{
    width:90%;
    line-height: -10px;
    height:auto;
    line-height: 40px;
    margin-left:20px;
    margin:0px 0px 0px 20px;
    font-size:
}


.news-text img{
    display: block;
    widows: 10px;
    height:10px;
    display: inline-block;
}

.bg_material .blanktop{
    display: none;
}

.water, .honey, .sugar, .gold{
    display: none;
}
.water_phone{
    display: block;
}

.bgc_water, .bgc_honey, .bgc_sugar, .bgc_gold{
    
    width:100%;
    float: none;
    height:100%;
    overflow-y: auto;
    

}



.waterpic, .honeypic, .sugarpic, .goldpic{
    width: 38%;
    float: none;
    height:100%;
    
}


.material-img{
    height:100px;
    overflow: hidden;
}

.material-img img{
 width: 100%;
 height: 200px;

}

.honey_phone img{
    margin-top: -25px;
    margin-left: -30px;
    transform: scale(1.2);
}

.sugar_phone img{
    margin-top: -25px;
    margin-left: 0px;
    transform: scale(1.2);
}

.gold_phone img{
    margin-top: -25px;
    /* margin-left: 0px; */
    transform: scale(1.3);
}

.bg_hotprod .lemon, .bg_hotprod .cane, .bg_hotprod .orange, .bg_hotprod .blanktop{
    display: none;
}

.bg_hotprod .lemon_phone, .bg_hotprod .cane_phone, .bg_hotprod .orange_phone, .blanktop, .blanktop{
    display: block;
}




.swiper-container {
    width: 100%;
    height: 100%;
  }

.bg_hotprod .swiper-wrapper{
    height: 250px;
}

.swiper-slide{

}

.hotprod_lemon_phone img, .hotprod_cane_phone img, .hotprod_orange_phone img{
    width: 100%;
    height:100%;
}

.bg_lemon, .bg_cane ,.bg_orange{
    width:100%;
    height:100%;
    float: none;
    overflow-y: auto;
    
}















   

    }





@media screen and (max-width: 320px) {
        body {
            
        }
        }
    
