body{
    margin:0;
    font-family: 微軟正黑體;
}

.container1{
    position: relative;
    max-width:1200px;
    
    margin-left:auto;
    margin-right:auto;
    
    
    
}

.bg_cover1{
    background-image: url("../img/lemon_4.jpg");
    
    background-size: cover;
    width:100%;
    height:100vh;
    

}

.cover1 .logo .logo_1 img{
    height:168px;
    width:168px;
    
    margin-left:0%;
    margin-top:50px;;

}

.logo_2{
    font-size: 100px;
    
    margin-left:0%;
    margin-top:1%;
    letter-spacing: 30px;
}

.com{
    font-size: 110px;
    letter-spacing: 32px;
    line-height: 50px;
}

.J1{
    margin-left:9%;
   
    
    color: rgb(233, 156, 14);
}
.U1{
    
    
    color: rgb(240, 137, 40);
}

.I1{
    
    
    color: rgb(240, 52, 52);
}

.C1{
   
    
    color: rgb(236, 71, 173);
}

.E1{
    
    
    color: rgb(22, 85, 13);
    }

.menu1{
    position: absolute;
    top:50px;
    right:0;
    
    
}    

.menu1 ul{padding:0;margin:0;}

.menu1 ul li{
display: inline-block;
left:730px;
top:0px;
border: 2px solid black;
margin:5px;
font-size: 19px;


}

.about_us1{
    background-image: url(../img/bg_v4.jpg);
    background-size: cover;
    width: 100%;
    height:872px;
    
}





.about_us1 .title{
     color:orange;
     /* text-shadow: 0px 0px 20px 20px #020216; */
     font-size: 110px;
     min-width:40%;

}

.about_us1 .title p{
    padding:0;
    margin:0;
    letter-spacing: 10px;

}

.about_us1 .intro{
     background-color: #03050A;
     /* color: rgb(238, 225, 213); */
     width: 40%;
     height: 493px;
     float: left;
     
     
     box-sizing: border-box;
}

.about_us1 .intro p{
    
    color: #EFEEE1;
    padding: 0 30px;
    
   
    
}

.about_us1 .intro_pic{
    
    width: 50%;
    height: 493px;
    float: right;
    
    
    
    

}

.about_us1 .intro_pic img{
    width: 100%;
    height: 100%;
    
    

}

.title_box{
    background-color: #03050A;
    width: 100%;
    height: 234px;
    position: relative;
}

.title_box .crown_l{
    
    height:100px;
    width: 20%;
    margin-top:50px;
    
    float:left;
    /* padding-right:50px; */
    /* box-sizing: border-box; */
}

.title_box .crown_r{
    
    height:100px;
    width: 20%;
    margin-top:50px;
    
    float:left;
    /* padding-left:50px; */
    /* box-sizing: border-box; */
}

.title_box_2{
    
    
   
    
    
    width: 30%;
    /* box-sizing: border-box; */
    float: left;
}


.title_box p{
    
    text-align: center;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size:40px;
    padding-top:50px;
    /* box-sizing: border-box; */
    
}

.center{
    margin-left:25%;
    
    
    
}


.bg_news1{
    background-color: brown;
    width: 100%;
    height: 769px;
    
}

.onethree{
    width:100%;
    padding-top:30px;
    
    
    
    
    
}

.news-card{
    float:left;
    width:33.333%;
    padding:0 15px;
    
    box-sizing: border-box;
}

.news-text{
    width: 100%;
}

.news-img img{
    width: 100%;
    height:300px;
    
    
    
    display: block;
}


.bg_material{
    background-image: url(../img/bg_v2_v2.jpg);
    background-size: cover;
    width:100%;
    height: 100%;
    
}


.blanktop{
    height:100px;
    width: 100%;
    opacity: 0;
}

.blanktop2{
    height:50px;
    width: 100%;
    opacity: 0;
}

.blanktop3{
    height:20px;
    width: 100%;
    opacity: 0;
}

.water, .honey, .sugar, .gold{
    height:280px;
    width:100%
}

.bgc_water, .bgc_honey, .bgc_sugar, .bgc_gold{
    
    width:62%;
    float: left;
    height:100%;
    

}

.bgc_water{
    background-color: rgb(22, 141, 177);
}

.bgc_honey{
    background-color: rgb(207, 116, 12);
}

.bgc_sugar{
    background-color: rgb(173, 118, 55);
}

.bgc_gold{
    background-color: rgb(224, 228, 17);
}

.waterpic, .honeypic, .sugarpic, .goldpic{
    width: 38%;
    float: left;
    height:100%;
    
}


/* 貴氣逼人 */
.bg_hotprod{
    background-image: url(../img/bg_4_v3.jpg);
    width: 100%;
    background-size: cover;
    
}

.lemon, .cane, .orange{
    width: 100%;
    height:280px;
    
}

.lemon, .cane{
    
    margin-bottom: 100px;
}

.bg_lemon, .bg_cane ,.bg_orange{
    width:62%;
    height:100%;
    float: left;
}

.bg_lemon{
    background-color: green;
}

.bg_cane {
    background-color: rgb(91, 196, 143);
}

 .bg_orange{
    background-color: rgb(228, 108, 28);
}


.lemonpic, .canepic ,.orangepic{
    width:38%;
    height:100%;
    float: left;
}


/* 豪門貴族 */
.products{
    background-image: url(../img/bg_v1_v3.jpg);
    width: 100%;;
    background-size: cover;
    height: 1020px;
}

.prods_r1, .prods_r3 {
    width: 100%;;
    height:270px;
    
}

.prods_r2, .prods_r4 {
    width: 100%;
    height:38px;
    
}



.prods_r2 p, .prods_r4 p {
    color:white;

}



.prods_r1 img, .prods_r3 img{
    width:19%;
    height:100%;
    float: left;

    
}

.prods_r2 p, .prods_r4 p{
   
    color:white;
   text-align: center;
    
    
}

.salebox{
    background-color: rgb(29, 19, 2);
    width: 19%;
    
    float: left;
}

.prods_r2 .salebox, .prods_r4 .salebox, .prods_r1 img, .prods_r3 img{
    margin:0 8% 0 0;
}

.salebox.fix{
    margin:0;
}

.prods_r1 img.fix, .prods_r3 img.fix{
    margin:0;
}

.more_prod{
    width:100px;
    background-color: black;
    border-radius: 5px;
    margin:auto;
    
}

.more_prod p{
    color:white;
    text-align: center;
    padding: 10px;
}

.note_prod{
    
    margin-top:-12px ;
    text-align: center;
    
}

.note_prod p{
    
    color:yellowgreen;
    
}

/* 金窩銀窩 */

.map_box{
    width: 100%;
    height: 330px;
}

.map, .housepic{
    
    /* background-color: red; */
    width:40%;
    height:100%;
    float:left;
}

.housepic{
    float:right;
}

.housepic img{
    width:100%;
    height:100%;
    
}


.address1{
    background-image: url(../img/pattern_4a_v1.jpg);
    background-size: cover;
    width: 100%;
    height:950px;
}

.intro_address{
    width:100%;
    height:280px;
    padding:15px;
    box-sizing: border-box;
    background-color: rgb(65, 17, 17);

}

.intro_address p{
    color: wheat;
    padding:0px 20px;
}

#map_v2{
    width:100%;
    height:100%;
}

.bg_contact{
   background-image: url(../img/bg_orange_v2.jpg);
   width:100%;
   height:300px;
   background-size:cover;
   
}

.bg_contact p{
    /* padding: 0; */
    margin:0;
    color:orange;
    font-size:20px;
    margin-top:10px;
    
}

.bg_contact p span{
    color:rgb(235, 220, 194);
    font-size:20px;
    padding-left:40px;
    

}

.bg_contact p span.fix{
    color:rgb(235, 220, 194);
    font-size:20px;
    padding-left: 20px;
    

}


